@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Rock+Salt");

.App {
  font-family: sans-serif;
  text-align: center;
}

.player {
  display: flex;
  justify-content: space-between;
  height: 110px;

  padding: 20px 0;
  background-color: #1a1327 ;
  .song {
    user-select: none;
    width: 100px;
    margin-left: 10px;
    .song__title {
      text-align: start;
      
      color: white;
      
      font-weight: normal;
      font-size:15px;

    }

    .song__artist {
      margin: 0;
      color: white;
      font-family: "Rock Salt", cursive;
      font-weight: normal;
      font-size: 1em;

      &:hover {
        color: greenyellow;
        cursor: pointer;
      }
    }
  }

  .controls {
    flex-grow: 1;
    width: 1px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    color: #ce2877 !important;
  }

  .player__button {
    width: fit-content;
    margin-bottom: -17px;
    background-color: transparent;
    border: none;
    margin-right: 65px;
    font-size: 14px;

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      svg {
        color: #512c8b;
      }
    }

    svg {
      font-size: 3.25em;
      color: #6638b1;
     
    }
  }

  .bar {
    user-select: none;
    width: 350px;
    display: flex;
    align-items: start;
    color: #ce2877 !important;
    
    


    .bar__time {
      color: white;
      font-size: 16px;
      display: none;
    }

    .bar__progress {
      flex: 1;
      border-radius: 5px;
      margin-right:6px;
      margin-left:-30px;
      margin-top: -25px;
      height: 5px;
      display: flex;
 
      cursor: pointer;
     

      .bar__progress__knob {
        position: relative;
        display: none;
        height: 16px;
        width: 16px;
        border: 1.5px solid #ce2877;
        border-radius: 50%;
        border: none;
        background-color: #ce2877 !important;
      }
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;

    .controls {
      width: 100%;
      margin-top: 20px;
    }

    .bar {
      width: 90%;
    }
  }

  @media screen and (max-width: 500px) {
    .song {
      .song__title {
        font-size: 2.5em;
      }

      .song__artist {
        font-size: 0.8em;
      }
    }
  }
}
div[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}
