.CompBar{

    background-color:#181235;
    
    position: absolute;

    width: 455px;
    height : 92.1vh;
    margin-top: -607px;
    left: -400%;
    
    margin-left: 80px;
    z-index: -1;
    color:var(--iconBar-secondary);
    transition : 0.4s;
}
.CompBar.active{

    left:0px;
    transition: 1000ms;
}

.items {

    width:'10px';
     margin-left:'50px' ;
     margin-Top:'50px'
}
.Compbar-title{

    color: white;
    font-size: 27px;
    font-weight: bold;
    margin-left: 31px;
    margin-top: 25px;
    
    
    width: 250px;
    

    

}
input[type=text], select {
    width: 271px;
    background-color:  #262450;
    padding: 12px 20px;
    margin: 19px 29px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 250px;
    background-color: #8B3DFF;
    color: white;
    padding: 14px 20px;
    margin: 0px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:  #7518ff;
  }
  
  .Comp-Button{
    width: 82.8%;
    background-color: #8c3dff;
    color: white;
    padding: 14px ;
    margin: 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

  }


  .Comp-Pricing-button{
    width: 190px;
    background-color: #1C153D;
    color: white;
    padding: 14px ;
    margin: 10px 0px;
    border: none;
    cursor: pointer;


  }
  .Comp-Pricing-button:hover{
    background-color:#1C153D
  }

 .Comp-Pricing-button.active{

  background: linear-gradient(180deg, #251c52 95%, #ce2877 100%);
  

 }


 