.CompBar{

    background-color:#181235;
    
    position: absolute;

    width: 455px;
    height : 100%;
    margin-top: -607px;
    left: -400%;
    
    margin-left: 80px;
    z-index: -1;
    color:var(--iconBar-secondary);
    transition : 0.4s;
}
.CompBar.active{

    left:0px;
    transition: 1000ms;
}

.items {

    width:'10px';
     margin-left:'50px' ;
     margin-Top:'50px'
}
.Compbar-title{

    color: white;
    font-size: 27px;
    font-weight: bold;
    margin-left: 31px;
    margin-top: 25px;
  margin-bottom: 15px;
    
    width: 250px;
    

    

}
input[type=text], select {
    width: 271px;
    background-color:  #262450;
    padding: 12px 20px;
    margin: 19px 29px;
    display: inline-block;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 250px;
    background-color: #8B3DFF;
    color: white;
    padding: 14px 20px;
    margin: 0px 50px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:  #7518ff;
  }
  
  .Comp-Button{
    width: 82.8%;
    background-color: #8c3dff;
    color: white;
    padding: 14px ;
    margin: 10px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

  }


  .Comp-Pricing-button{
    width: 190px;
    background-color: #1C153D;
    color: white;
    padding: 14px ;
    margin: 10px 0px;
    border: none;
    cursor: pointer;


  }
  .Comp-Pricing-button:hover{
    background-color:#1C153D
  }

 .Comp-Pricing-button.active{

  background: linear-gradient(180deg, #251c52 95%, #ce2877 100%);
  

 }


 .container {
  display: block;
  
  position: relative;
  padding-left: 160px;
  margin-bottom: 35px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  right: 190px;
  left: 1;
  height: 25px;
  width: 30px;
  border-radius: 4px;
  background-color: #262450;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color:none;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #1a1327;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #dd2088;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(35deg);
}
 