
.side-nav-container{

    background-color: var(--iconBar-Primary);

    width: 80px;
    height : 94vh;
    float: left;
    z-index: 1;
    color: var(--iconBar-secondary);
    transition : 0.4s;
}

.nav-upper,
.nav-heading , .nav-menu , .menu-items {
    display: grid;
}

.nav-heading{
    grid-template-columns: 2fr,1fr;
    grid-template-rows: 1fr;
    height: 75px;
}


.nav-brand{

    display:flex;

}

.nav-brand img{

  
    width: 40px;
    padding: 0 10px;
}


.nav-menu{
    grid-template-rows: repeat(7,1fr);
    margin-top: 40px;
}
.menu-items{
    height: 65px;
    width: 4.0rem;
    text-align: center;
    font-size: 8px;
    padding-bottom: 10px;
    margin: 8px 8px;
    border-radius: 10px;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    

}

.menu-items img{
    margin: auto;
    width: 30px;
    height: 30px;
    
}

.menu-items:hover{
    
    background-color: #8b3dff;
 

}
.menu-items.active{
    background-color: #8b3dff;
}

